@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #ffffff,
    10: #fff8e5,
    20: #fff4d1,
    25: #f5e9c4,
    30: #ffe09b,
    35: #ffd373,
    40: #ff7518,
    50: #ff6900,
    60: #ff5a00,
    70: #e04d00,
    80: #c64100,
    90: #a83500,
    95: #8b2900,
    98: #6f1f00,
    99: #521600,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #000000,
    20: #cf9a5c,
    25: #8f7135,
    30: #5f4d29,
    35: #6c5934,
    40: #7a6540,
    50: #9b8c58,
    60: #b9a470,
    70: #d8bd89,
    80: #f0daa2,
    90: #faac78,
    95: #ffedcd,
    98: #fff9f1,
    99: #fffdfd,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #083010,
    20: #27492e,
    25: #345636,
    30: #3f6241,
    35: #4b6f4c,
    40: #577c58,
    50: #7b9578,
    60: #97b091,
    70: #b3cca9,
    80: #cfeac3,
    90: #e6f5d7,
    95: #effeed,
    98: #f7fff5,
    99: #fbfffb,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #13100b,
    6: #19140e,
    10: #241c14,
    12: #281f19,
    17: #332a23,
    20: #3a3128,
    22: #3f362c,
    24: #433b2f,
    25: #463e32,
    30: #55483d,
    35: #605344,
    40: #6c5e4d,
    50: #84766b,
    60: #9f9185,
    70: #c3b4a2,
    80: #dfd0bc,
    87: #f0e3d1,
    90: #f7ebde,
    92: #faf1e4,
    94: #fdf5e8,
    95: #fef6eb,
    96: #fff8ee,
    98: #fffcf6,
    99: #fffdfb,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #2b240d,
    20: #45381f,
    25: #514529,
    30: #5d5233,
    35: #695f3e,
    40: #756b49,
    50: #968367,
    60: #b39d7f,
    70: #cfb897,
    80: #efe1c6,
    90: #fbebd1,
    95: #fff5de,
    98: #fffbf2,
    99: #fffcfb,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #570004,
    20: #8d0007,
    25: #a00009,
    30: #b3000b,
    35: #c31012,
    40: #d32020,
    50: #ff564d,
    60: #ff7f75,
    70: #ffa6a0,
    80: #ffcdc8,
    90: #ffe5e3,
    95: #ffeee9,
    98: #fff8f7,
    99: #fffdfd,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
